<launch>

    <arg name="rviz" default="true"/>

    <node pkg="teleop_twist_keyboard"
          type="teleop_twist_keyboard.py"
          name="teleop_keyboard"
          output="screen"/>

    <group if="$(arg rviz)">
        <node pkg="rviz"
              type="rviz"
              name="rviz"/>
    </group>

</launch>
